:root {
  --text: rgb(165, 202, 207);
  --background: #f9fefc;
  --primary: #d82622;
  --secondary: #8198e9;
  --accent: #6f59e2;
  --titre: "Press Start 2P", system-ui;
  --font2: "Roboto Slab", sans-serif;
  --font3: "Teko", sans-serif;
}
#fixed1 {
  z-index: -1;
  width: 70%;
  position: fixed;
  top: 0px;
  height: 100%;
  object-fit: cover;
}
main {
  background-color: transparent !important;
}
#main {
  margin-top: 10%;
  background-color: black;
}
#slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  color: var(--secondary);
  text-align: center;
  font-size: 2.5em;
  margin-top: 10%;
  font-family: var(--font3);
  text-shadow: var(--primary) 2px 2px 10px, white 4px 4px 10px;
}
a button {
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 1000;
  box-shadow: var(--primary) 0 0 20px;
}
h3 {
  padding-top: 1em;
}
#block1 {
  grid-column: 1;
  grid-row: 1;
}

#block2 {
<<<<<<< HEAD
  grid-column: 2;
=======
  grid-column: 2 ;
>>>>>>> 227b2af8a569836454733ed88a68b9f77c652ef2
  grid-row: 1;
}

#block3 {
  grid-column: 3;
  grid-row: 1;
}

#block4 {
  grid-column: 4;
  grid-row: 1;
}

#tournois {
  margin-top: 2em;
  display: grid;
}
#tournois img {
  border-radius: 20px;

  margin-bottom: 1em;
  height: 50%;
  width: 80%;
}
.block p {
  font-size: 1.2em;
  text-align: center;
}
.block {
  margin-bottom: 2em;
  text-align: center;
}

<<<<<<< HEAD
=======




















>>>>>>> 227b2af8a569836454733ed88a68b9f77c652ef2
.titre {
  font-size: 1.5em !important;
  text-shadow: var(--primary) 0 0 10px;
}
#reglement {
  text-align: center;
  margin-top: 5em;
}

#reglement input[type="checkbox"] {
  display: none;
}

#reglement label {
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 1000;
  box-shadow: var(--primary) 0 0 20px;
  color: white;
  border: 1px solid var(--primary);
  padding: 3% 3%;
  text-align: center;
  font-size: 2em;
  font-family: var(--titre);
  cursor: pointer;
  border-radius: 5px;
}

.text {
  box-shadow: var(--primary) 0 0 10px;
  display: none;
  font-size: 18px;
  margin: 3em;
  color: var(--secondary);
}

input[type="checkbox"]:checked + label + .text {
  display: block;
}

.classement {
  margin-top: 5em;
  display: grid;
}
h3 {
  font-size: 2em !important;
}
.titreclassement {
  margin-top: 2em;
}
.profil {
  border-radius: 50em;
  width: 10em;
  height: 10em;
  object-fit: cover;
}
#block5 {
  grid-column: 1;
  grid-row: 1;
}

#block6 {
  grid-column: 2;
  grid-row: 1;
}

#block7 {
  grid-column: 3;
  grid-row: 1;
}

#block8 {
  grid-column: 4;
  grid-row: 1;
}
#block9 {
  grid-column: 1;
  grid-row: 1;
}

#block10 {
  grid-column: 2;
  grid-row: 1;
}

#block11 {
  grid-column: 3;
  grid-row: 1;
}

#block12 {
  grid-column: 4;
  grid-row: 1;
}
<<<<<<< HEAD
=======

>>>>>>> 227b2af8a569836454733ed88a68b9f77c652ef2

.classement2 {
  border: 1px var(--primary) solid;
  box-shadow: var(--primary) 4px 0 10px;
  margin: 2em;
  color: var(--secondary);
}
.classementprofil {
  margin-top: 2em;
  font-size: 0.7em;
  margin-left: 1em;
}
.classementprofil strong {
  
  font-size: 2em;
}
.classement2 p {
  text-align: center;
}
<<<<<<< HEAD
#inscription {
  font-family: var(--font3);
}
#choix {
  display: flex;
  margin: 2%;
}
#choix input {
  width: 2.5%;
  margin-left: 2%;
}
#choix label {
  font-family: var(--font3);
  margin-left: 2%;
}
footer {
  margin-top: -32px;
  padding-top: 30px;
}

@media only screen and (max-width: 520px) {
  #fixed1 {
    width: 100%;
    height: 100%;
  }
  #block1 {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  #block2 {
    grid-column: 1 !important;
    grid-row: 2 !important;
  }

  #block3 {
    grid-column: 1 !important;
    grid-row: 3 !important;
  }

  #block4 {
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
  #block5 {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  #block6 {
    grid-column: 1 !important;
    grid-row: 2 !important;
  }

  #block7 {
    grid-column: 1 !important;
    grid-row: 3 !important;
  }

  #block8 {
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
  #block9 {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  #block10 {
    grid-column: 1 !important;
    grid-row: 2 !important;
  }

  #block11 {
    grid-column: 1 !important;
    grid-row: 3 !important;
  }

  #block12 {
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
  #reglement label {
    font-size: 1em;
  }
  #choix label {
    font-size: 0.8em;
  }
=======
#inscription{
    font-family: var(--font3);
}
#choix{
  display: flex;
  margin: 2%;
}
#choix input{
  width: 2.5%;
  margin-left: 2%;
}
#choix label{
  font-family: var(--font3);
  margin-left: 2%;
}
footer{
  margin-top: -32px;
  padding-top: 30px;
>>>>>>> 227b2af8a569836454733ed88a68b9f77c652ef2
}










@media only screen and (max-width: 520px) {
  #fixed1 {
    width: 100%;
    height: 100%;
  }
<<<<<<< HEAD
  #block1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  #block2 {
    grid-column: 2 / 2;
    grid-row: 1;
  }

  #block3 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  #block4 {
    grid-column: 2 / 2;
    grid-row: 2;
  }
  #tournois {
    flex-wrap: wrap;
    margin-top: 2em;
    display: grid;
  }

  #reglement label {
    font-size: 1.5em;
  }
  #block5 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  #block6 {
    grid-column: 2 / 2;
    grid-row: 1;
  }

  #block7 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  #block8 {
    grid-column: 2 / 2;
    grid-row: 2;
  }
  #block9 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  #block10 {
    grid-column: 2 / 2;
    grid-row: 1;
  }

  #block11 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  #block12 {
    grid-column: 2 / 2;
    grid-row: 2;
  }
=======
    #block1 {
      grid-column: 1 !important;
      grid-row: 1!important;
    }
  
    #block2 {
      grid-column: 1!important;
      grid-row: 2!important;
    }
  
    #block3 {
      grid-column: 1!important;
      grid-row: 3!important;
    }
  
    #block4 {
      grid-column: 1!important;
      grid-row: 4!important;
  
    }
        #block5 {
          grid-column: 1 !important;
          grid-row: 1 !important;
        }
    
        #block6 {
          grid-column: 1 !important;
          grid-row: 2 !important;
        }
    
        #block7{
          grid-column: 1 !important;
          grid-row: 3 !important;
        }
    
        #block8{
          grid-column: 1 !important;
          grid-row: 4 !important;
    
        }
                #block9 {
                  grid-column: 1 !important;
                  grid-row: 1 !important;
                }
        
                #block10 {
                  grid-column: 1 !important;
                  grid-row: 2 !important;
                }
        
                #block11 {
                  grid-column: 1 !important;
                  grid-row: 3 !important;
                }
        
                #block12 {
                  grid-column: 1 !important;
                  grid-row: 4 !important;
        
                }
    #reglement label {
      font-size: 1em;
    }
    #choix label{
          font-size: 0.8em;
    }
    
}

@media only screen and (max-width: 960px ) {
  #fixed1 {
    width: 100%;
    height: 100%;
  }
    #block1 {
      grid-column: 1 / 2;
      grid-row: 1;
    }
  
    #block2 {
      grid-column: 2 / 2;
            grid-row: 1;
    }
  
    #block3 {
      grid-column: 1 / 2;
            grid-row: 2;
    }
  
    #block4 {
      grid-column: 2 / 2;
              grid-row: 2;
    }
        #tournois {
          flex-wrap: wrap;
          margin-top: 2em;
          display: grid;
        }

                #reglement label {
                  font-size: 1.5em;
                }
        #block5 {
          grid-column: 1 / 2;
          grid-row: 1;
        }
    
        #block6 {
          grid-column: 2 / 2;
          grid-row: 1;
        }
    
        #block7 {
          grid-column: 1 / 2;
          grid-row: 2;
        }
    
        #block8 {
          grid-column: 2 / 2;
          grid-row: 2;
        }
                #block9 {
                  grid-column: 1 / 2;
                  grid-row: 1;
                }
        
                #block10 {
                  grid-column: 2 / 2;
                  grid-row: 1;
                }
        
                #block11 {
                  grid-column: 1 / 2;
                  grid-row: 2;
                }
        
                #block12 {
                  grid-column: 2 / 2;
                  grid-row: 2;
                }
>>>>>>> 227b2af8a569836454733ed88a68b9f77c652ef2
}
